
.container {
  display: inline-block;
  position: relative;
  width: auto;
  margin-bottom: 2rem;
}

.text {
  top: 90px;  
  font-weight: 300;
  font-family: 'Bento Modern Display', serif;
  font-style: italic;
  color: #e8e7e3;
  margin: 0;
  padding: 0;
  margin-bottom: -5px;
  position: relative;
  z-index: 1;
}

.svg {
  width: 33%;
  height: 25px;
  display: block;
  overflow: visible;
  margin-top: 100px;
}

.line {
  stroke-width: 5;
  stroke-linecap: round;
}