.applyingWhatI {
    position: absolute;
    top: 93px;
    left: 0px;
    font-weight: 300;
    font-family: 'Bento Modern Display', serif;
    font-style: italic;
}

.workExperience {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 70px;
    font-weight: 600;
    font-family: 'Geist';
}

.weHeader {
    width: 100%;
    position: relative;
    left: 20px;
    margin-bottom: 100px;
    margin-top: 150px;
    height: 149px;
    text-align: left;
    font-size: 46px;
    color: #e8e7e3;
    font-family: 'Geist';
}